* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

img#earth {
    left: 15em;
    margin-top: 12em;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
html {
    background-color: #3a2a1f;
    color: rgb(255, 255, 169);
    font-family: Syncopate, sans-serif;
    text-align: center;
    padding: 0;
    font-size: 16px;
}

body {
    background-position-y: -600px;
    background-attachment: fixed;
    background-size: 100%;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.main-content {
    box-shadow: 0px 0px 10em 10em #000000;
    background-color: black;
}

.intro {
    padding: 3em 0 20em;
}

.intro a {
    text-decoration: none;
    color: inherit;
}

.intro a:hover {
    text-decoration: underline;
}

.intro h3 {
    margin: 0 0 1rem;
}
nav a {
    margin: 0 .5em;
}
h1 {
    margin: 0;
    font-size: 3em;
}

h3 {
    font-weight: 400;
    color: #e4c091;
    margin: 2em 0 1em;
}

.page {
    margin-top: 0;
    background-color: rgb(76, 56, 48);
    text-align: left;
    border-radius: 1em;
    border: 2px solid #ffeb3b1c;
    padding: 2em;
}

.panel {
    background-color: rgba(0, 0, 0, 1);
    padding: 3em 10em;
}

hr {
    margin: 5em 0 5em;
}
.page .video {
    text-align: center;
}
.video {
    margin: 3rem 0 2rem;
}
a, .intro h2 a {
    color: orange;
}

label {
    display: block;
    margin: .5em;
}

p, li {
    color: rgb(255, 255, 229);
    line-height: 1.5em;
    font-weight: 200;
}

footer {
    background-color: black;
    padding: 2em;
}

.to-top {
    font-size: 0.7em;
    float: right;
}

#volunteerForm {
    float: left;
}
#volunteerCalendar {
    float: right;
}
#volunteerCalendar img {
    width: 400px;
}
.clearfix::after { 
   content: ""; 
   display: table; 
   clear: both;
}

.cover-video-top, .cover-video-bottom, .cover-spinner {
    background: #000;
    position: fixed;
    right: 0;
    left: 0;
    z-index: -98;
    height: 4rem;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 3s;
}

.cover-video-top {
    top: 0;
    box-shadow: 0px 0px 2em 2em #000000;
}

.cover-video-bottom {
    bottom: 0;
    box-shadow: 0px 0px 2em 2em #000000;
}

.cover-video-top.disappear, .cover-video-bottom.disappear, .cover-spinner.disappear {
    opacity: 0;
}

.cover-spinner {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000;
    z-index: -1;
}

.donate-banner {
    margin: 3rem 5rem 0;
    text-align: center;
}
.donate-banner a {
    width: 100%;
    background-color: #7e538ce3;
    padding: 1rem;
    border-radius: 2rem;
    display: inline-block;
    text-decoration: none;
}

.donate-banner a:hover {
    background-color: #ba90c7e3;
    color: #faff00;
}

.donate-button {
    width: 100%;
    text-align: center;
}

.donate-button a {
    color: #6b82ff;
}

.event-details {
    /* margin-left: 1rem; */
    margin-bottom: 2rem;
}

.push-up {
    margin-bottom: 3rem;
}

.no-top-margin {
    margin-top: 0;
}